*.o
__pycache__

.vscode
.cache
.ipynb_checkpoints
.pytest_cache
perf.png
plot.png
out.std
.coverage
diff.png
map.html
mydask.png
global.lock
purge.lock
fstpy.egg-info
doc/usage.rst
doc/acknowledgements.rst
doc/conda_howto.rst
doc/contributing.rst
doc/install.rst
doc/intro.rst
doc/LICENSE.rst
doc/requirements.rst
doc/ressources.rst
doc/tutorial.rst

