bokeh>=2.3.2
certifi>=2020.12.5
click>=7.1.2
cloudpickle>=1.6.0
contextvars>=2.4
cytoolz>=0.11.0
dask>=2021.3.0
distributed>=2021.3.0
fsspec>=0.9.0
HeapDict>=1.0.1
immutables>=0.15
Jinja2>=2.11.3
MarkupSafe>=1.1.1
mkl-fft>=1.3.0
mkl-random>=1.1.1
mkl-service>=2.3.0
msgpack>=1.0.2
numpy>=1.19.2
olefile>=0.46
packaging>=20.9
pandas>=1.1.3
partd>=1.2.0
Pillow>=8.2.0
pip>=21.0.1
psutil>=5.8.0
pyparsing>=2.4.7
python-dateutil>=2.8.1
pytz>=2021.1
PyYAML>=5.4.1
setuptools>=52.0.0.post20210125
six>=1.15.0
sortedcontainers>=2.3.0
tblib>=1.7.0
toolz>=0.11.1
tornado>=6.1
typing-extensions>=3.7.4.3
wheel>=0.36.2
xarray>=0.17.0
zict>=2.0.0
